<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block base %} <base href="{{ url_for('home') }}" />{% endblock %}
    <!-- <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" sizes="32x32"> -->
    <title>{% block title %}{% endblock %} {{app.name}} - {{ app.instance }}</title>
    {% block metas %}
        <meta name="title" property="og:title" content="{{ app.title }}" />
        <meta name="description" property="og:description" content="Elektronik Monitoring, Evaluasi dan Pelaporan APBD" />
        <meta name="keyword" property="og:keyword" content="{{ app.keyword }}" />
    {% endblock %}
    {% block heads %}{% endblock %}
    {% block head_asset_css %}
        {% webpack_css 'preload' %}
    {% endblock %}
    {% block head_asset_css_other %}{% endblock %}
    {% block head_asset_js %}{% endblock %}
    {% block head_asset_js_other %}{% endblock %}
</head>
<body>
    {% block preload %}{% include "im/preload.twig" %}{% endblock %}
    {% block root_before %}{% endblock %}
    {% block root %}
        <div id="root">
            {% block header %}{% endblock %}
            {% block main %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>
    {% endblock %}
    {% block root_after %}{% endblock %}
    {% block footer_asset_css %}        
        {% webpack_css 'style.main' %}
        <link type="text/css" rel="stylesheet" href="{{ asset('vendors/font-awesome-4.7.0/css/font-awesome.min.css') }}" />
    {% endblock %}
    {% block footer_asset_css_next %}{% endblock %}
    {% block footer_asset_css_other %}{% webpack_css 'style.utils' %}{% endblock %}
    {% block footer_asset_js %}        
        <script type="text/javascript" src="{{ asset('vendors/highchart-7.2/highcharts.js') }}"></script>
        {% include "im/footer_asset_js.twig" %}
    {% endblock %}
    {% block footer_asset_js_next %}{% endblock %}
    {% block footer_asset_js_other %}{% endblock %}
</body>
</html>